
body{
    margin: 0;
    padding: 0;
}
*{
    user-select: none;
}
@media (max-width: 600px){
    #title>*{
        font-size:1.9rem;
       }

}
#main{
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    align-items: center;
    height: 80%;
}
/* Title */
#title{
    display: flex;
    margin-top: 10px;
}
#titleRock{
    color: red;
    transform: rotate(-15deg);
    margin-top: 5px;
}
#titlePaper{
    color: blue;
    margin-left:14px;
    margin-right:14px;
}
#titleScissors{
    color: green;
    transform: rotate(15deg);
    margin-top: 10px;
}
.textBorder{
    font-size: 3rem;
    user-select: none;
    text-shadow: 2px 0 #000, -2px 0 #000,0px 2px #000, 0px -2px #000;
}
/* Score */
#scoreContainer{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    width:100%;
}
.scoreCell{
    border:2px solid white;
    text-align: center;
    padding: 8px;
    color: red;
    text-shadow: 2px 0 #fff, -2px 0 #fff,0px 2px #fff, 0px -2px #fff;
    border-radius: 8px;
    width:100px
}
.scoreCell h1{
    font-size: 1.8rem;
}
.scoreCell h2{
    color:red;
    font-size: 1.6rem;
}
/* Game */
#gameContainer{
    margin-top: 50px;
    display: flex;
    width:100%;
}
#options{
    float:left;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.option{
    opacity: 0.6;
    user-select: none;
    position: relative;
    left:5px;
    font-size: 1.6rem;
    text-align: left;
    width:100%;
    transform:rotate(-10deg);
    transition: 1s;
}
.option:hover{
    opacity: 1;
    left:10px;
    transform:rotate(0deg);
}
#fightDisplay{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left:30px;
    width:76%;
}
.contentCell{
    width:120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 600px){
    .contentCell{
        width:80px;
    }
    #fightDisplay{
        display: flex;
        justify-content: start;
        align-items: start;
        width:auto;
    }
    .scoreCell h1,h2{
        font-size: 1rem;
    }
    .scoreCell h2{
        font-size: 0.9rem;
    }
    .scoreCell{
        width:60px
    }
}
.bluee{
    color:blue;
}
.redd{
    color:red;
}
.greenn{
    color:green;
}